@font-face {
  font-family: UbuntuReg;
  src: url(../fonts/Ubuntu-R_0.ttf); }
@font-face {
  font-family: UbuntuBold;
  src: url(../fonts/Ubuntu-B_0.ttf); }
@font-face {
  font-family: UbuntuMed;
  src: url(../fonts/Ubuntu-M_0.ttf); }
@font-face {
  font-family: OpenSansReg;
  src: url(../fonts/open_sans_reg.ttf); }
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/open_sans_bold.ttf); }
/*================span-classes==================*/
.blue-text {
  color: #0099de; }

.yellow-text {
  color: #f6c605; }

.green-text {
  color: #2ecc71; }

.grey-text {
  color: #9c9c9c; }

/*=========================================*/
a {
  color: inherit;
  cursor: pointer; }

a:hover {
  color: #9c9c9c;
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:active {
  text-decoration: none; }

header {
  background-color: #00cccc;
  background-image: url(../img/bgi-header.png);
  background-position: center;
  background-size: cover; }
  header .logo {
    margin-top: 18px; }
  header .menu-lg {
    font-family: UbuntuReg;
    color: #363636;
    font-size: 16px;
    margin-top: 40px;
    margin-right: -15px;
    margin-left: 40px; }
    @media screen and (max-width: 1199px) {
      header .menu-lg {
        font-size: 14px; } }
    header .menu-lg li {
      margin-left: 1%;
      cursor: pointer;
      margin-right: 2%; }
    header .menu-lg li:last-child {
      margin-right: 0; }
    header .menu-lg li:hover {
      color: #0081bc; }
  header .menu-sm {
    font-family: UbuntuReg;
    color: #363636;
    font-size: 14px;
    height: 37px;
    margin-top: 13px; }
    header .menu-sm menu {
      padding: 0;
      height: 40px;
      overflow: hidden;
      position: absolute;
      transition: height 0.5s; }
      header .menu-sm menu li {
        width: 175px;
        height: 40px;
        padding-top: 10px;
        background-color: #ccc;
        list-style: none;
        cursor: pointer;
        text-indent: 20px;
        transition: all 0.3s;
        border-bottom: 1px solid #ffffff;
        opacity: 0.9; }
      header .menu-sm menu li:hover {
        background-color: #6cc5ed;
        opacity: 1; }
      header .menu-sm menu li.first {
        padding-left: 30px;
        margin-bottom: 10px;
        background-color: transparent;
        border: none;
        font-size: 25px; }
      header .menu-sm menu li.first:hover {
        background-color: transparent; }
    header .menu-sm menu:hover {
      height: 293px;
      z-index: 10; }
  header .contact {
    text-align: right;
    margin-top: 37px;
    position: relative; }
    header .contact .user {
      position: absolute;
      right: 40px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../img/icons/login.png);
      cursor: pointer; }
    header .contact .phone {
      position: absolute;
      right: 0;
      display: inline-block;
      width: 27px;
      height: 27px;
      background-image: url(../img/icons/call.png);
      cursor: pointer; }
  header main {
    text-align: center; }
    header main h2 {
      margin-top: 150px;
      margin-bottom: 40px;
      font-size: 34px;
      font-family: UbuntuMed;
      text-transform: uppercase; }
    header main button {
      margin-bottom: 225px;
      width: 225px;
      height: 55px;
      background-color: #0099de;
      color: #ffffff;
      font-family: OpenSansBold;
      font-size: 18px;
      border: none; }
    header main button:focus {
      outline: none; }
    header main button:hover {
      background-color: #0081bc; }
    header main button:active {
      transform: scale(0.98); }

.advantages {
  background-color: #0099de; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .advantages .tarif-large {
      width: 50%;
      margin-top: 110px;
      margin-left: 25%; } }
  @media screen and (max-width: 767px) {
    .advantages .tarif-small {
      margin-top: -100px; } }
  .advantages .tarif {
    position: relative;
    height: 294px;
    background-color: #ffffff;
    padding: 30px 50px 30px 35px;
    margin-top: -82px; }
    @media screen and (max-width: 767px) {
      .advantages .tarif {
        width: 90%;
        margin-left: 4.5%;
        margin-top: 20px; } }
    .advantages .tarif img {
      position: absolute;
      bottom: 0;
      right: 20px; }
      @media screen and (min-width: 768px) and (max-width: 1170px) {
        .advantages .tarif img {
          width: 40%; } }
      @media screen and (max-width: 767px) {
        .advantages .tarif img {
          width: 120px; } }
    .advantages .tarif h3 {
      margin-top: 0;
      margin-bottom: 15px;
      font-family: UbuntuMed;
      font-size: 18px; }
    .advantages .tarif p {
      margin: 0;
      font-family: OpenSansReg;
      font-size: 14px; }
    .advantages .tarif .blue-text, .advantages .tarif .yellow-text, .advantages .tarif .green-text {
      font-family: UbuntuMed;
      font-size: 45px;
      margin-top: 50px; }
      @media screen and (max-width: 1170px) {
        .advantages .tarif .blue-text, .advantages .tarif .yellow-text, .advantages .tarif .green-text {
          margin-top: 20px; } }
    .advantages .tarif .more {
      position: absolute;
      bottom: 20px;
      color: #0099de;
      font-family: OpenSansBold;
      cursor: pointer; }
    .advantages .tarif .more:hover {
      color: #0081bc; }
  .advantages .advs {
    text-align: center;
    padding: 109px 0; }
    @media screen and (max-width: 992px) {
      .advantages .advs .adv-item {
        margin-top: 30px; } }
    .advantages .advs p {
      margin-top: 10px;
      color: #ffffff;
      font-family: UbuntuBold;
      font-size: 22px; }
    .advantages .advs .heart {
      padding-top: 15px; }
      @media screen and (max-width: 992px) {
        .advantages .advs .heart {
          padding-top: 10px; } }

.tables {
  background-color: #ebf0f1; }
  .tables h2 {
    color: #363636;
    font-family: UbuntuBold;
    font-size: 26px;
    text-align: center;
    margin: 50px 0 30px 0; }
  .tables tr {
    background-color: #ffffff;
    border: 1px solid #ddd; }
    .tables tr td {
      font-family: OpenSansReg;
      font-size: 14px;
      vertical-align: middle !important; }
      @media screen and (max-width: 992px) {
        .tables tr td {
          padding: 20px 50px !important;
          text-align: center; } }
      @media screen and (max-width: 992px) {
        .tables tr td {
          padding: 30px 20px !important; } }
      .tables tr td img {
        margin: 23px 50px; }
        @media screen and (max-width: 992px) {
          .tables tr td img {
            margin: 0;
            margin-bottom: 20px; } }
      .tables tr td button {
        width: 135px;
        height: 44px;
        background-color: transparent;
        border: 1px solid #0081bc;
        border-radius: 2px;
        color: #0099de;
        font-family: OpenSansBold;
        font-size: 14px;
        margin-right: 40px; }
        @media screen and (max-width: 992px) {
          .tables tr td button {
            margin: 20px auto;
            display: block; } }
      .tables tr td button:focus {
        outline: none; }
      .tables tr td button:hover {
        background-color: #0081bc;
        color: #ffffff; }
      .tables tr td button:active {
        transform: scale(0.98); }
    .tables tr .header_tbl {
      font-family: UbuntuReg;
      font-size: 28px;
      line-height: 29px; }

.connect {
  background-color: #ebf0f1;
  text-align: center;
  padding: 100px;
  background-image: url(../img/bgi-connect.png);
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 992px) {
    .connect {
      padding: 30px; } }
  .connect h3 {
    font-family: UbuntuBold;
    font-size: 26px;
    color: #363636;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .connect button {
    margin-top: 12px;
    width: 165px;
    height: 38px;
    background-color: #0099de;
    font-family: OpenSansBold;
    font-size: 14px;
    color: #ffffff;
    border: none; }
  .connect button:focus {
    outline: none; }
  .connect button:hover {
    background-color: #0081bc;
    color: #ffffff; }
  .connect button:active {
    transform: scale(0.98); }

.tables2 {
  background-color: #ebf0f1; }
  .tables2 h2 {
    color: #363636;
    font-family: UbuntuBold;
    font-size: 26px;
    text-align: center;
    margin: 20px 0 30px 0; }
  .tables2 tr {
    background-color: #ffffff;
    border: 1px solid #ddd; }
    .tables2 tr td {
      font-family: OpenSansReg;
      font-size: 14px;
      vertical-align: middle !important; }
      @media screen and (max-width: 992px) {
        .tables2 tr td {
          text-align: center; } }
      .tables2 tr td p {
        margin: 23px 50px; }
        @media screen and (max-width: 992px) {
          .tables2 tr td p {
            margin: 0; } }
      .tables2 tr td button {
        width: 135px;
        height: 44px;
        background-color: transparent;
        border: 1px solid #0081bc;
        border-radius: 2px;
        color: #0099de;
        font-family: OpenSansBold;
        font-size: 14px;
        margin-right: 40px; }
        @media screen and (max-width: 992px) {
          .tables2 tr td button {
            margin: 20px auto; } }
      .tables2 tr td button:focus {
        outline: none; }
      .tables2 tr td button:hover {
        background-color: #0081bc;
        color: #ffffff; }
      .tables2 tr td button:active {
        transform: scale(0.98); }
    .tables2 tr .mbs {
      font-family: OpenSansBold;
      font-size: 25px; }
    .tables2 tr .som {
      margin-left: 100px;
      font-family: OpenSansReg;
      font-size: 20px; }
      @media screen and (max-width: 992px) {
        .tables2 tr .som {
          margin: 0; } }
      .tables2 tr .som .blue-text {
        font-family: OpenSansBold; }
    .tables2 tr .size {
      font-family: UbuntuReg;
      font-size: 50px; }
    .tables2 tr .xs {
      color: #9c9c9c; }
    .tables2 tr .s {
      color: #5d5d5d; }
    .tables2 tr .m {
      color: #363636; }
    .tables2 tr .l {
      color: #0099de; }
    .tables2 tr .xl {
      color: #0081bc; }
  .tables2 .advert {
    color: #363636;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 63px; }
    @media screen and (max-width: 767px) {
      .tables2 .advert .adv_item {
        margin-top: 40px; } }
    .tables2 .advert .adv_item h3 {
      font-family: UbuntuReg;
      font-size: 26px; }
    .tables2 .advert .adv_item p {
      font-family: OpenSansReg;
      font-size: 14px;
      padding: 0 7%; }
      @media screen and (max-width: 767px) {
        .tables2 .advert .adv_item p {
          padding: 0 20%; } }

footer {
  background-color: #353535;
  color: #ffffff;
  font-family: OpenSansReg; }
  footer .foot-row {
    margin-top: 54px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ffffff; }
    @media screen and (max-width: 767px) {
      footer .foot-row {
        margin-left: 10%; } }
    footer .foot-row .contacts, footer .foot-row .address, footer .foot-row .social {
      padding-left: 0; }
      footer .foot-row .contacts h3, footer .foot-row .address h3, footer .foot-row .social h3 {
        font-family: OpenSansBold;
        font-size: 16px;
        margin-bottom: 20px; }
        @media screen and (max-width: 991px) {
          footer .foot-row .contacts h3, footer .foot-row .address h3, footer .foot-row .social h3 {
            margin-bottom: 10px; } }
      footer .foot-row .contacts p, footer .foot-row .address p, footer .foot-row .social p {
        font-size: 16px; }
      footer .foot-row .contacts i, footer .foot-row .address i, footer .foot-row .social i {
        cursor: pointer;
        font-size: 20px;
        margin-right: 12px; }
        @media screen and (min-width: 991px) {
          footer .foot-row .contacts i, footer .foot-row .address i, footer .foot-row .social i {
            margin-right: 8px; } }
    footer .foot-row .social {
      padding-left: 20px; }
      @media screen and (max-width: 991px) {
        footer .foot-row .social {
          padding-left: 0; } }
  footer .license {
    margin: 15px 0;
    font-family: OpenSansReg;
    font-size: 14px; }
    @media screen and (max-width: 767px) {
      footer .license {
        margin-left: 10%; } }
    footer .license .copy {
      display: inline-block; }
    footer .license .lic {
      display: inline-block;
      float: right;
      margin-right: 40px;
      margin-bottom: 0; }
      @media screen and (max-width: 767px) {
        footer .license .lic {
          float: none;
          display: block; } }
      footer .license .lic span {
        display: inline-block;
        vertical-align: middle;
        float: right;
        padding-top: 4px;
        padding-left: 10px; }
        @media screen and (max-width: 767px) {
          footer .license .lic span {
            float: none;
            padding-top: 0; } }
      footer .license .lic i {
        display: inline-block;
        background-image: url(../img/license.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px; }
    footer .license .doc {
      display: inline-block;
      float: right; }
      @media screen and (max-width: 767px) {
        footer .license .doc {
          float: none;
          display: block; } }
      footer .license .doc span {
        display: inline-block;
        float: right;
        padding-top: 4px;
        padding-left: 10px; }
        @media screen and (max-width: 767px) {
          footer .license .doc span {
            float: none;
            padding-top: 0; } }
      footer .license .doc i {
        display: inline-block;
        background-image: url(../img/dogovor.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px; }

/*# sourceMappingURL=style.css.map */
