$black : #363636;
$lblue : #0099de;
$dblue : #0081bc;
$lgrey : #9c9c9c;
$dgrey : #5d5d5d;
$white : #ffffff;

@font-face {
	font-family: UbuntuReg;
	src: url(../fonts/Ubuntu-R_0.ttf);
}
@font-face {
	font-family: UbuntuBold;
	src: url(../fonts/Ubuntu-B_0.ttf);
}
@font-face {
	font-family: UbuntuMed;
	src: url(../fonts/Ubuntu-M_0.ttf);
}
@font-face {
	font-family: OpenSansReg;
	src: url(../fonts/open_sans_reg.ttf);
}
@font-face {
	font-family: OpenSansBold;
	src: url(../fonts/open_sans_bold.ttf);
}


/*================span-classes==================*/
.blue-text{
	color: $lblue;
}
.yellow-text{
	color: #f6c605;
}
.green-text{
	color: #2ecc71;
}
.grey-text{
	color: $lgrey;
}
/*=========================================*/

a{
	color: inherit;
	cursor: pointer;
}
a:hover{
	color: $lgrey;
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}

/*==================================Модалка============*/

#modal_form{
	display: none;
	opacity: 0;
	text-align: center;
	width: 60%;
	height: 400px;
	position: fixed;
	top: 20%;
	left: 20%;
	z-index: 10;
	font-family: OpenSansReg;
	@media screen and (max-width: 767px) {
		width: 80%;
		left: 10%;
	}
	.mod-blue{
		display: inline-block;
		background-color: $lblue;
		width: 50%;
		height: 100%;
		float: left;
		color: $white;
		@media screen and (max-width: 767px) {
			float: none;
			width: 100%;
		}
		.mod-blue-hide{
			h3, p{
				font-size: 14px;
				padding: 0;
				margin: 5px;
			}
		}
		p{
			font-size: 18px;
			padding: 33px 12%;
			@media screen and (max-width: 767px) {
				font-size: 14px;
				padding: 10px 12%;
			}
		}
		input{
			height: 42px;
			width: 70%;
			margin-left: 15%;
			@media screen and (max-width: 767px) {
				height: 32px;
			}
		}
		button{
			margin-top: 40px;
			width: 60%;
			height: 42px;
			background-color: $lblue;
			border: 3px solid $white;
			font-size: 18px;
			border-radius: 5px;
			@media screen and (max-width: 767px) {
				margin: 20px 0;
			}
		}
		button:hover{
			background-color: $white;
			border: none;
			color: $lblue;			
		}
		button:active{
			transform: scale(0.99);
		}
		button:focus{
			outline: none;
		}
	}
	.mod-white{
		display: inline-block;
		background-color: $white;
		position: relative;
		width: 50%;
		height: 100%;
		h3{
			padding: 35px 0;
			font-size: 16px;
			color: $lblue;
		}
		p{
			font-size: 24px;
		}
	}
	#modal_close{
		color: $white;
		font-size: 25px;
		position: absolute;
		top: -25px;
		right: -25px;
	}
	#modal_close:hover{
		color: $lgrey;
		cursor: pointer;
	}	
}
#overlay{
	display: none;
	opacity: 0;
	background-color: #000;
	opacity: 0.7;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	left: 0;
}

/*=======================================================*/

header{
	background-color: #00cccc;
	background-image: url(../img/bgi-header.png);
	background-position: center;
	background-size: cover;
	.logo{
		margin-top: 18px;
	}
	.menu-lg{
		font-family: UbuntuReg;
		color: $black;
		font-size: 16px;
		margin-top: 40px;
		margin-right: -15px;
		margin-left: 40px;
		@media screen and (max-width: 1199px) {
			font-size: 14px;
		}
		li{
			margin-left: 1%;
			cursor: pointer;
			margin-right: 2%;
		}
		li:last-child{
			margin-right: 0;
		}
		li:hover{
			color: $dblue;
		}
	}
	.menu-sm{
		font-family: UbuntuReg;
		color: $black;
		font-size: 14px;
		height: 37px;
		margin-top: 13px;
		menu{
			padding: 0;
			height: 40px;
			overflow: hidden;
			position: absolute;
			transition: height 0.5s;
			li{
				width: 175px;
				height: 40px;
				padding-top: 10px;
				background-color: #ccc;
				list-style: none;
				cursor: pointer;
				text-indent: 20px;
				transition: all 0.3s;
				border-bottom: 1px solid $white;
				opacity: 0.9;
			}
			li:hover{
				background-color: #6cc5ed;
				opacity: 1;
			}
			li.first{
				padding-left: 30px;
				margin-bottom: 10px;
				background-color: rgba(0,0,0,0);
				border: none;
				font-size: 25px;
			}
			li.first:hover{
				background-color: rgba(0,0,0,0);
			}
		}
		menu:hover{
			height: 293px;
			z-index: 10;
		}
	}
	.contact{
		text-align: right;
		margin-top: 37px;
		position: relative;
		.user{
			position: absolute;
			right: 40px;
			display: inline-block;
			width: 24px;
			height: 24px;
			background-image: url(../img/icons/login.png);
			cursor: pointer;
		}
		.phone{
			position: absolute;
			right: 0;
			display: inline-block;
			width: 27px;
			height: 27px;
			background-image: url(../img/icons/call.png);
			cursor: pointer;
		}
	}
	main{
		text-align: center;
		h2{
			margin-top: 150px;
			margin-bottom: 40px;
			font-size: 34px;
			font-family: UbuntuMed;
			text-transform: uppercase;
		}
		button{
			margin-bottom: 225px;
			width: 225px;
			height: 55px;
			background-color: $lblue;
			color: $white;
			font-family: OpenSansBold;
			font-size: 18px;
			border: none;
		}
		button:focus{
			outline: none;
		}
		button:hover{
			background-color: $dblue;
		}
		button:active{
			transform: scale(0.98);
		}
	}
}
.advantages{
	background-color: $lblue;
	.tarif-large{
		@media screen and (min-width: 768px) and (max-width: 992px) {
			width: 50%;
			margin-top: 110px;
			margin-left: 25%;
		}
	}
	.tarif-small{
		@media screen and (max-width: 767px) {
			margin-top: -100px;
		}
	}
	.tarif{
		@media screen and (max-width: 767px) {
			width: 90%;
			margin-left: 4.5%;
			margin-top: 20px;
		}
		position: relative;
		height: 294px;
		background-color: $white;
		padding: 30px 50px 30px 35px;
		margin-top: -82px;

		img{
			position: absolute;
			bottom: 0;
			right: 20px;
			@media screen and (min-width: 768px) and (max-width: 1170px) {
				width: 40%;
			}
			@media screen and (max-width: 767px) {
				width: 120px;
			}
		}
		h3{
			margin-top: 0;
			margin-bottom: 15px;
			font-family: UbuntuMed;
			font-size: 18px;
		}
		p{
			margin: 0;
			font-family: OpenSansReg;
			font-size: 14px;
		}
		.blue-text, .yellow-text, .green-text{
			font-family: UbuntuMed;
			font-size: 45px;
			margin-top: 50px;
			@media screen and (max-width: 1170px) {
				margin-top: 20px;
			}
		}
		.more{
			position: absolute;
			bottom: 20px;
			color: $lblue;
			font-family: OpenSansBold;
			cursor: pointer;
		}
		.more:hover{
			color: $dblue;
		}
	}
	.advs{
		.adv-item{
			@media screen and (max-width: 992px) {
				margin-top: 30px;
			}
		}
		text-align: center;
		padding: 109px 0;
		p{
			margin-top: 10px;
			color: $white;
			font-family: UbuntuBold;
			font-size: 22px;
		}
		.heart{
			padding-top: 15px;
			@media screen and (max-width: 992px) {
				padding-top: 10px;
			}
		}
	}
}
.tables{
	h2{
		color: $black;
		font-family: UbuntuBold;
		font-size: 26px;
		text-align: center;
		margin: 50px 0 30px 0;
	}
	background-color: #ebf0f1;
	tr{		
		background-color: $white;
		border: 1px solid #ddd;
		td{
			font-family: OpenSansReg;
			font-size: 14px;
			@media screen and (max-width: 992px) {
				padding: 20px 50px!important;
				text-align: center;
			}
			@media screen and (max-width: 992px) {
				padding: 30px 20px!important;		
			}
			img{
				margin: 23px 50px;
				@media screen and (max-width: 992px) {
					margin: 0;
					margin-bottom: 20px;
				}
			}
			vertical-align: middle!important;
			button{
				width: 135px;
				height: 44px;
				background-color: rgba(0,0,0,0);
				border: 1px solid $dblue;
				border-radius: 2px;
				color: $lblue;
				font-family: OpenSansBold;
				font-size: 14px;
				margin-right: 40px;
				@media screen and (max-width: 992px) {
					margin: 20px auto;
					display: block;
				}
			}
			button:focus{
				outline: none;
			}
			button:hover{
				background-color: $dblue;
				color: $white;
			}
			button:active{
				transform: scale(0.98);
			}
		}
		.header_tbl{
			font-family: UbuntuReg;
			font-size: 28px;
			line-height: 29px;
		}
	}
}
.connect{
	background-color: #ebf0f1;
	text-align: center;
	padding: 100px;
	background-image: url(../img/bgi-connect.png);
	background-size: cover;
	background-position: center;
	@media screen and (max-width: 992px) {
		padding: 30px;	
	}
	h3{
		font-family: UbuntuBold;
		font-size: 26px;
		color: $black;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	button{
		margin-top: 12px;
		width: 165px;
		height: 38px;
		background-color: $lblue;
		font-family: OpenSansBold;
		font-size: 14px;
		color: $white;
		border: none;
	}
	button:focus{
		outline: none;
	}
	button:hover{
		background-color: $dblue;
		color: $white;
	}
	button:active{
		transform: scale(0.98);
	}
}
.tables2{
	h2{
		color: $black;
		font-family: UbuntuBold;
		font-size: 26px;
		text-align: center;
		margin: 20px 0 30px 0;
	}
	background-color: #ebf0f1;
	tr{		
		background-color: $white;
		border: 1px solid #ddd;
		td{
			font-family: OpenSansReg;
			font-size: 14px;
			@media screen and (max-width: 992px) {
				text-align: center;		
			}
			p{
				margin: 23px 50px;
				@media screen and (max-width: 992px) {
					margin: 0;
				}
			}
			vertical-align: middle!important;
			button{
				width: 135px;
				height: 44px;
				background-color: rgba(0,0,0,0);
				border: 1px solid $dblue;
				border-radius: 2px;
				color: $lblue;
				font-family: OpenSansBold;
				font-size: 14px;
				margin-right: 40px;
				@media screen and (max-width: 992px) {
					margin: 20px auto;
				}
			}
			button:focus{
				outline: none;
			}
			button:hover{
				background-color: $dblue;
				color: $white;
			}
			button:active{
				transform: scale(0.98);
			}
		}
		.mbs{
			font-family: OpenSansBold;
			font-size: 25px;
		}
		.som{
			margin-left: 100px;
			font-family: OpenSansReg;
			font-size: 20px;
			@media screen and (max-width: 992px) {
				margin: 0;		
			}
			.blue-text{
				font-family: OpenSansBold;
			}
		}
		.size{
			font-family: UbuntuReg;
			font-size: 50px;
		}
		.xs{ color: $lgrey; }
		.s{ color: $dgrey; }
		.m{ color: $black; }
		.l{ color: $lblue; }
		.xl{ color: $dblue; }
	}


	.advert{
		color: $black;
		text-align: center;
		margin-top: 120px;
		margin-bottom: 63px;
		.adv_item{
			@media screen and (max-width: 767px) {
				margin-top: 40px;
			}
			h3{
				font-family: UbuntuReg;
				font-size: 26px;
			}
			p{
				font-family: OpenSansReg;
				font-size: 14px;
				padding: 0 7%;
				@media screen and (max-width: 767px) {
					padding: 0 20%;
				}
			}
		}
	}
}

footer{
	background-color: #353535;
	color: $white;
	font-family: OpenSansReg;
	.foot-row{
		margin-top: 54px;
		padding-bottom: 40px;
		border-bottom: 1px solid $white;
		@media screen and (max-width: 767px) {
			margin-left: 10%;
		}
		.contacts, .address, .social{
			padding-left: 0;
			h3{
				@media screen and (max-width: 991px) {
					margin-bottom: 10px;
				}
				font-family: OpenSansBold;
				font-size: 16px;
				margin-bottom: 20px;
			}
			p{
				font-size: 16px;
			}
			i{
				cursor: pointer;
				font-size: 20px;
				margin-right: 12px;
				@media screen and (min-width: 991px) {
					margin-right: 8px;
				}
			}
		}
		.social{
			padding-left: 20px;
			@media screen and (max-width: 991px) {
				padding-left: 0;
			}
		}
	}
	.license{
		margin: 15px 0;
		font-family: OpenSansReg;
		font-size: 14px;
		@media screen and (max-width: 767px) {
			margin-left: 10%;
		}
		.copy{
			display: inline-block;
			
		}
		.lic{
			display: inline-block;
			float: right;
			margin-right: 40px;
			margin-bottom: 0;
			@media screen and (max-width: 767px) {
				float: none;
				display: block;
			}
			span{
				display: inline-block;
				vertical-align: middle;
				float: right;
				padding-top: 4px;
				padding-left: 10px;
				@media screen and (max-width: 767px) {
					float: none;
					padding-top: 0;
				}
			}
			i{
				display: inline-block;
				background-image: url(../img/license.png);
				background-repeat: no-repeat;
				width: 25px;
				height: 25px;
			}
		}
		.doc{
			display: inline-block;
			float: right;
			@media screen and (max-width: 767px) {
				float: none;
				display: block;
			}
			span{
				display: inline-block;
				float: right;
				padding-top: 4px;
				padding-left: 10px;	
				@media screen and (max-width: 767px) {
					float: none;
					padding-top: 0;
				}			
			}
			i{
				display: inline-block;
				background-image: url(../img/dogovor.png);
				background-repeat: no-repeat;
				width: 25px;
				height: 25px;
			}
		}
	}
}